.user-component__chats {
  display: flex;
  margin: 10px 15px;
  font-size: 20px;
  font-weight: 500;
}
.user-component__chats .user-component__column__left {
  display: flex;
  align-items: center;
}

.user-component__chats__sub {
  margin-left: 10px;
  font-size: 20px;
}

.user-component__chats .user-component__column__left img {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}

.user-component__chats h4 {
  font-size: 10px;
  opacity: 0.5;
}
