.icon-row {
  display: flex;
  justify-content: space-between;
  margin: 25px 40px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  text-align: center;
}

.icon-row__icon span {
  margin-top: 20px;
  font-size: 15px;
}

.find-recommend {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find-recommend span {
  opacity: 0.7;
}

.find-openchat {
  display: flex;
  margin: 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.find-openchat__left {
  display: flex;
  flex-direction: column;
}

.find-openchat__left span:first-child {
  font-weight: 600;
}

.find-openchat__left > span:nth-child(2) {
  font-size: 15px;
  margin: 5px 0px;
  opacity: 0.5;
}

.find-openchat__left__sub {
  display: flex;
  align-items: center;
}

.find-openchat__left__sub > span:last-child {
  font-weight: 600;
  color: rgb(226, 132, 147);
  font-size: 15px;
}

.find-openchat__left__sub > span:nth-child(2) {
  font-size: 13px;
  opacity: 0.5;
}

.find-openchat__left__sub > span:nth-child(3) {
  font-size: 13px;
  opacity: 0.5;
  margin: 0px 3px;
}

.find-openchat__left__sub img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.find-openchat__right img {
  height: 110px;
  width: 110px;
  border-radius: 20px;
}
.find-openchat__right {
  position: relative;
}
.find-openchat__right > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 20px;
  background-color: black;
  opacity: 0.6;
  font-size: 13px;
  border-radius: 10px;
  color: white;
  font-weight: 100;
}

.find-openchat__right span {
  margin-left: 3px;
}

.bolt-badge {
  position: relative;
  top: -15px;
  left: -10px;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
