.friend-screen__birthday {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px 15px;
}

.friend-screen__birthday__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  opacity: 0.7;
}

.friend-screen__birthday__header span {
  font-size: 15px;
}

.friend-screen__birthday__main {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.friend-screen__birthday__main span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.friend-screen__birthday__main__left {
  width: 90%;
  display: flex;
  align-items: center;
}

.friend-screen__birthday__main__left span:nth-child(2) {
  font-size: 18px;
  margin-left: 13px;
}

.fa-birthday-cake {
  color: whitesmoke;
}

.friend-screen__birthday__main__right__chevron {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #2e363e;
}

.friend-screen__birthday__main__right {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid green;
}

.friend-screen__birthday__main__right i {
  color: green;
  margin-left: 5px;
}

.friend-screen__birthday__main__left img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
