.wallet {
  width: 100%;
  height: 190px;
  background-color: rgb(195, 247, 195);
  padding: 20px;
  box-sizing: border-box;
}

.wallet-box__header {
  display: flex;
  justify-content: space-between;
}

.wallet-box__header > span {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.wallet-main {
  margin: 10px 0px;
  background-color: rgb(221, 255, 224);
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wallet-main > span:last-child {
  margin-right: 10px;
}

.wallet-main__text {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}

.wallet-main__text i {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  background-color: rgb(23, 91, 218);
  color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.wallet-footer {
  margin: 20px 0px;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.wallet-footer span:nth-child(4),
.wallet-footer span:nth-child(2) {
  opacity: 0.3;
}

.more-main {
  display: flex;
  justify-content: space-between;
}

.more-main div {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
}

.suggestions span,
.more-main span {
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.8;
}

.suggestions {
  margin: 25px 40px;
}

.suggestions div {
  width: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.suggestions i {
  color: white;
  height: 50px;
  background-color: rgb(250, 231, 57);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
