.user-component {
  display: flex;
  margin: 10px 15px;
}

.user-component__column__left {
  display: flex;
  width: 70%;
  align-items: center;
}

.user-component__column__left img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-component__column__left span:nth-child(2) {
  margin-left: 15px;
}

.user-component__column__right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.8;
}
